/pratica1/exercicio4/JavaApplication3/nbproject/private/
/pratica1/exercicio4/JavaApplication3/build/
/pratica1/exercicio4/JavaApplication3/dist/
/provinha1/Atividade1/nbproject/private/
/pratica2/ex3/Concessionaria/nbproject/private/
/pratica2/ex3/Concessionaria/build/
/pratica3/ExercicioInterface/nbproject/private/
/testeprovinha/ AtividadeSimulacao/nbproject/private/
/Atividade2/Atividade2/nbproject/private/
/Atividade2/Atividade2/build/
/pratica5/topzera/nbproject/private/
/pratica5/topzera/build/
/pratica5/topzerapt2/nbproject/private/
/pratica5/topzerapt2/build/
/pratica5/toperson/nbproject/private/
/pratica5/toperson/build/
/pratica5/toperson/dist/
/pratica5/cadastroAlunos/nbproject/private/